html {
  // font-size: $font-size;
  // font-family: $font-family;
  // background: $background-color;
  // color: $font-color;
  // max-width: $page-width;
  // line-height: 1.4;
}

body {
  // margin: 0;
  // width: 100vw;
}
